* {
    box-sizing: border-box;
}

html {
    color: var(--clr-primary-base);
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.canvas-container {
    width: 100vw;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
}

img {
    width: 100%;
}



img {
    max-width: 100%;
    border-radius: 5px;
    opacity: 0.6;
    transition: opacity 0.4s;
}

img:hover {
    cursor: pointer;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}