* {
    box-sizing: border-box;
}

html {
    color: var(--clr-primary-base);
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.canvas-container {
    width: 100vw;
}

canvas {
    width: 100%;
    height: auto;
    display: block;
    cursor: grab;
}

img {
    max-width: 100%;
    border-radius: 5px;
    /* opacity: 0.6; */
    transition: 300ms;
}

.saved-memes-container:has(.meme-item:hover)>.meme-item:not(:hover),
.gallery-images:has(img:hover)>img:not(:hover) {
    /* scale: .9; */
    opacity: .6;
}

img:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1em;
}

input, button, textarea, select {
    max-width: 100%;
    font: inherit;
}