/* Main Layout */

.main-layout {
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    /* grid-template-columns:
        minmax(30px, 1fr) minmax(auto, 1060px) minmax(30px, 1fr); */
    background-color: var(--clr-primary--1);
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.saved-memes-container,
.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5em;
    place-items: center;
}

.saved-memes-container {
    grid-template-columns: repeat(auto-fit, 200px);
}

.meme-editor {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: minmax(auto, 400px) minmax(auto, 400px); */
    /* max-width: 600px; */
    gap: 1em;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.canvas-container canvas {
    max-width: 100%;
    height: auto;
}


.options,
.canvas-container {
    max-width: 400px;
    border: 3px solid whitesmoke;
    border-radius: 0.5em;
}

.options {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;

}

.txt-line {
    width: auto;
    max-width: 300px;
    margin: 0 auto;
}


.options .lines-edit {
    gap: 1em;
    height: 43px;
}

.main-content {
    display: grid;
    place-items: center;
    margin-block: 1em;
}