button,
.btn,
.options .txt-line,
select,
.options .share>* {
    background-color: var(--clr-primary--2);
    color: var(--clr-primary-1);
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px 6px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options .share {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.options .share>*,
button,
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;
    text-align: center;
}

.options .share>*:hover,
button:hover,
.btn:hover {
    background-color: var(--clr-primary-3);
    box-shadow: 0 4px 10px var(--clr-primary-4);
    cursor: pointer;
}

label.btn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}

label.btn svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

input[type="color"] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

.btn.facebook:hover,
.facebook:hover svg {
    background-color: #516FAD;
    fill: white;
}

.btn-show-more,
.flexible-btn {
    height: 50px;
    width: 100px;
    place-self: center;
}

.meme-item {
    position: relative;
}

.meme-item img {
    transition: opacity 0.3s ease;
}

.meme-item:hover img {
    opacity: 1;
}

.saved-memes-container .delete-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 10;
    cursor: pointer;
}

.categories-container {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.category {
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    transition: font-size 0.3s ease;
}

.stickers-container > * {
    font-size: 2em;
}