footer {
    flex-direction: column;
    background-color: var(--clr-primary-2);
    padding: 0.5em;
    margin-block-start: 0.5em;
    border-radius: 5px;
}

footer h4{
    margin-block-end: 0.25em;
}