.main-header {
    min-height: 60px;
    background-color: var(--clr-primary-2);
    /* margin-block-end: 1em; */
    border-radius: 5px;
}

.main-header {
    display: grid;
    grid-template-columns: subgrid;
}

.main-header>* {
    grid-column: 2;
}

header .logo {
    cursor: pointer;
}