.main-nav .main-nav-list {
    gap: 30px;
}

.main-nav .main-nav-list a, .download-link, .logo {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav-list a{
    display: grid;
    place-items: center;
    height: 60px;
    width: 90px;
    
    transition: 0.4s ease;
}

.main-nav-list a:hover{
    color: var(--clr-primary--2);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
}