/* SETUP */
@import url('./setup/vars.css');

/* BASICS */
@import url('./basics/base.css');
@import url('./basics/helpers.css');
@import url('./basics/layout.css');

/* COMPONENTS */
@import url('./components/header.css');
@import url('./components/logo.css');
@import url('./components/main-nav.css');
@import url('./components/footer.css');
@import url('./components/buttons.css');
@import url('style/components/burger.css');
@import url('./components/main-screen.css');

/* mq */
@import url('style/setup/mq.css');

.hide {
    display: none;
}

